In [1]:
import pandas as pd
import numpy as np

In [2]:
file = '..//data//nsduh_with_final_column.csv'
main_data = pd.read_csv(file, sep=',')

In [3]:
main_data.head()

,CIGEVER,CIGOFRSM,CIGWILYR,CIGTRY,CIGYFU,CIGMFU,CIGREC,CIG30USE,CG30EST,CIG30AV,...,GOVTPROG,INCOME,POVERTY3,TOOLONG,TROUBUND,PDEN10,COUTYP4,MAIIN102,AIIND102,CATEGORY
0,1,99,99,13,9999,99,4,93,93,93,...,2,4,3.0,2,2,1,1,2,2,0
1,1,99,99,15,9999,99,1,18,99,4,...,2,2,3.0,1,2,1,1,2,2,2
2,1,99,99,14,9999,99,1,10,99,3,...,2,4,3.0,2,2,1,1,2,2,2
3,1,99,99,16,9999,99,4,93,93,93,...,2,4,3.0,2,2,2,2,2,2,2
4,2,99,99,991,9991,91,91,91,91,91,...,2,2,3.0,1,1,1,1,2,2,0

In [4]:
main_data.groupby('CATEGORY').groups

{0: Int64Index([    0,     4,     6,     8,     9,    11,    13,    16,    17,
                19,
             ...
             56245, 56255, 56256, 56257, 56262, 56264, 56266, 56271, 56272,
             56273],
            dtype='int64', length=22301),
 1: Int64Index([    5,    10,    12,    14,    31,    34,    35,    36,    39,
                41,
             ...
             56250, 56253, 56258, 56260, 56263, 56267, 56269, 56270, 56274,
             56275],
            dtype='int64', length=19467),
 2: Int64Index([    1,     2,     3,     7,    15,    18,    20,    24,    25,
                28,
             ...
             56236, 56246, 56247, 56251, 56252, 56254, 56259, 56261, 56265,
             56268],
            dtype='int64', length=14508)}

In [5]:
x = main_data.drop('CATEGORY',axis=1)
y = main_data['CATEGORY']

In [5]:
# y.head()
# x.head()

### Standarization

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
scaler = StandardScaler()
scaler.fit(x)
scaled_features = scaler.transform(x)

C:\Users\Daria\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
C:\Users\Daria\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  This is separate from the ipykernel package so we can avoid doing imports until

In [8]:
scaled_features

array([[-1.03005556,  0.52273463,  0.5226434 , ..., -0.98397146,
         0.13457137,  0.13484485],
       [-1.03005556,  0.52273463,  0.5226434 , ..., -0.98397146,
         0.13457137,  0.13484485],
       [-1.03005556,  0.52273463,  0.5226434 , ..., -0.98397146,
         0.13457137,  0.13484485],
       ...,
       [ 0.97082141, -1.90881409, -1.91011928, ...,  0.3167421 ,
         0.13457137,  0.13484485],
       [-1.03005556,  0.52273463,  0.5226434 , ...,  0.3167421 ,
         0.13457137,  0.13484485],
       [ 0.97082141,  0.52273463,  0.5226434 , ..., -0.98397146,
         0.13457137,  0.13484485]])

### PCA extraction

In [9]:
from sklearn.decomposition import PCA

In [10]:
pca = PCA(n_components=0.90)
reduced = pca.fit_transform(x)

In [11]:
reduced_data = pd.DataFrame(reduced)
reduced_data.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,-1606.594078,-855.733254,-488.829303,5544.447718,-2384.391495,-1194.285615,-2187.303155,-5889.410440,-1465.043437,-3501.509980,...,-317.303645,-1407.572448,-3237.987617,-997.935304,-220.398662,-869.160377,-984.068171,314.954991,-2051.938061,-922.184254
1,-370.935691,-6819.514529,-8072.549321,-1129.459295,-140.602960,-4681.078111,2691.028955,3797.510578,-798.194259,-571.714421,...,-1113.710533,499.900053,205.976054,331.112763,1130.500270,1361.548100,162.999569,-429.752461,681.306589,340.402879
2,360.895597,-11732.454754,-5086.959686,-456.974945,-7849.483871,-2215.519223,238.849399,-739.830230,4196.756206,1336.711631,...,-2469.850298,-1032.387070,-1380.632518,6020.705743,-359.619628,-2343.468116,350.363961,-645.627608,1354.042132,1028.161135
3,-1690.397809,-769.630378,198.914573,2764.980642,-5483.151245,1084.424606,-371.553123,-2724.783744,-3071.008196,-4282.871018,...,1367.881860,456.547974,-1335.634110,-868.891661,-478.358945,-1087.521792,-1429.565864,689.092169,-1881.485505,-546.964348
4,-2840.625608,8074.623486,542.231866,-3630.523104,-1222.467268,-306.755050,595.646603,410.773417,405.481721,215.791437,...,-454.490037,-747.680758,-35.356959,-117.501324,-55.783235,-69.126650,375.572920,-998.980108,-428.769227,-123.999288

In [12]:
reduced_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56276 entries, 0 to 56275
Data columns (total 21 columns):
0     56276 non-null float64
1     56276 non-null float64
2     56276 non-null float64
3     56276 non-null float64
4     56276 non-null float64
5     56276 non-null float64
6     56276 non-null float64
7     56276 non-null float64
8     56276 non-null float64
9     56276 non-null float64
10    56276 non-null float64
11    56276 non-null float64
12    56276 non-null float64
13    56276 non-null float64
14    56276 non-null float64
15    56276 non-null float64
16    56276 non-null float64
17    56276 non-null float64
18    56276 non-null float64
19    56276 non-null float64
20    56276 non-null float64
dtypes: float64(21)
memory usage: 9.0 MB

In [13]:
coverage = np.sum(pca.explained_variance_ratio_)
coverage

0.904959649397919

In [14]:
reduced_data['CATEGORY'] = y
reduced_data.head()

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,CATEGORY
0,-1606.594078,-855.733254,-488.829303,5544.447718,-2384.391495,-1194.285615,-2187.303155,-5889.410440,-1465.043437,-3501.509980,...,-1407.572448,-3237.987617,-997.935304,-220.398662,-869.160377,-984.068171,314.954991,-2051.938061,-922.184254,0
1,-370.935691,-6819.514529,-8072.549321,-1129.459295,-140.602960,-4681.078111,2691.028955,3797.510578,-798.194259,-571.714421,...,499.900053,205.976054,331.112763,1130.500270,1361.548100,162.999569,-429.752461,681.306589,340.402879,2
2,360.895597,-11732.454754,-5086.959686,-456.974945,-7849.483871,-2215.519223,238.849399,-739.830230,4196.756206,1336.711631,...,-1032.387070,-1380.632518,6020.705743,-359.619628,-2343.468116,350.363961,-645.627608,1354.042132,1028.161135,2
3,-1690.397809,-769.630378,198.914573,2764.980642,-5483.151245,1084.424606,-371.553123,-2724.783744,-3071.008196,-4282.871018,...,456.547974,-1335.634110,-868.891661,-478.358945,-1087.521792,-1429.565864,689.092169,-1881.485505,-546.964348,2
4,-2840.625608,8074.623486,542.231866,-3630.523104,-1222.467268,-306.755050,595.646603,410.773417,405.481721,215.791437,...,-747.680758,-35.356959,-117.501324,-55.783235,-69.126650,375.572920,-998.980108,-428.769227,-123.999288,0

In [16]:
reduced_data.to_csv('..\\data\\nsduh_reduced.csv',index=False)

## TPOT to choose pipeline

In [1]:
from tpot import TPOTClassifier
from sklearn.model_selection import train_test_split

In [ ]:
x = reduced_data.drop('CATEGORY',axis=1)
y = reduced_data['CATEGORY']
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.7, random_state=121)

In [ ]:
pipeline_optimizer = TPOTClassifier(generations=5, population_size=20, cv=5,
                                    random_state=42, verbosity=2, max_time_mins= 5, periodic_checkpoint_folder= 'D:\Dokumenty\analityka\magisterka\code')
pipeline_optimizer.fit(x_train, y_train)
print(pipeline_optimizer.score(x_test, y_test))

In [18]:
pipeline_optimizer.export('tpot_exported_pipeline.py')